@import url(./__list/intro__list.css);
@import url(./__list-number/intro__list-number.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  max-width: 690px;
  margin: 92px 0 0 148px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 690px;
    margin: 92px 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: 288px;
    margin: 64px 16px 0;
  }
}
