.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration-line: underline;
  text-underline-position: under;
}

.place__link:hover {
  opacity: 0.8;
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__link {
    display: none;
  }
}
