@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);

.place {
  margin: 0 0 80px;
  display: grid;
  grid-template-columns: 46.74% 49.18%; /* 460px 484px */
  grid-gap: 48px 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-template-columns: 47.41% 49.14%; /* 440px 456px */
    grid-gap: 48px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    margin: 0 0 72px;
    grid-template-columns: 47.41% 49.14%; /* 340px 352px */
    grid-gap: 48px 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    margin: 0 0 48px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 0;
  }
}

.place:last-child {
  margin-bottom: 0;
}
